@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"), url("/public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"), url("/public/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"), url("/public/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoBlack";
  src: local("RobotoBlack"), url("/public/fonts/Roboto/Roboto-Black.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial black";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

p {
  all: unset;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: lightgray;
  }
}
