.container {
  padding: 5rem 2rem;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 5rem;
  color: royalblue;
  font-weight: 900;
}

.wrongWordsTitle {
  text-align: center;
  font-size: 3rem;
  color: red;
  margin-bottom: 20px;
}

.wrongWordsWrapper {
  background-color: gray;
  height: 60px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.wrongWordsWrapper p {
  color: red;
  font-size: 3rem;
  margin-right: 20px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.buttonWrapper button {
  all: unset;
  height: 60px;
  width: 30%;
  background-color: blueviolet;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 2rem;
}

.buttonWrapper button:hover {
  cursor: pointer;
}