.container {
  padding: 0 0rem;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.buttonWrapper button {
  all: unset;
  height: 60px;
  width: 30%;
  background-color: blueviolet;
  text-align: center;
  text-transform: uppercase;
  font-family: "Arial";
  border-radius: 10px;
}

.buttonWrapper button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
