.container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.inputWrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 10px;
}

.inputWrapper input {
    all: unset;
    text-align: center;
    font-size: 36px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 10px;

}