.root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.window {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 85vh;
    background-color: gray;
    border-radius: 12px;
    margin: 50vh auto;
    overflow: hidden;
    transform: translateY(-50%);
    padding: 20px 40px
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.rightWord {
    font-size: 4.5rem;
    text-align: center;
    color: #6aa84f;
    margin-bottom: 30px;
    font-weight: 900;
}

.replayBtn {
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    background-color: royalblue;
}

.replayBtn:hover {
    cursor: pointer;
}